[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group OSIC-QE-Admins
[access "refs/drafts/*"]
	read = group Registered Users
	push = group Registered Users
[access "refs/publish/*"]
	read = group Anonymous Users
	forgeCommitter = group OSIC-QE-Integrators
	push = group Registered Users
	pushMerge = group OSIC-QE-Developers
[access "refs/tags/*"]
	read = group Anonymous Users
	createTag = group OSIC-QE-Integrators
